.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: var(--white);
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--grey-dark-1);

    flex: 0 0 18%; // grow shrink bases

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: var(--white);
    flex: 1; // grow as much as it can
}

.detail {
    display: flex;
    font-size: 1.4rem;
    padding: 4.5rem;
    background-color: var(--grey-light-1);
    border-bottom: var(--line);
}
.desc {
    font-size: 1.4rem;
    flex: 0 0 60%; // 60% width
    margin-right: 4.5rem;
    box-shadow: var(--shadow-light);
    padding: 3rem;
}
.user-reviews {
    flex: 1; // take the remaining space

    display: flex;
    flex-direction: column;

    align-items: center;
}
